# SPDX-FileCopyrightText: 2021 Markus Linnala <markus.linnala@cybercom.com>
#
# SPDX-License-Identifier: Apache-2.0

policy_module(local_pangp_regression, 1.0.0)

optional_policy(`

require {
        class file { getattr map open };
        type pangp_server_t;
        type user_home_dir_t;
}
allow pangp_server_t user_home_dir_t:dir search;
allow pangp_server_t var_lib_t:file getattr;

require {
        class dir read;
        class file { execute_no_trans open read };
        class netlink_kobject_uevent_socket { create getattr setopt };
        class netlink_kobject_uevent_socket bind;
        type bin_t;
        type pangp_user_ui_t;
        type sysfs_t;
        type udev_var_run_t;
        type var_lib_t;
}
allow pangp_user_ui_t bin_t:file { execute_no_trans map };
allow pangp_user_ui_t self:netlink_kobject_uevent_socket { bind create getattr setopt };
allow pangp_user_ui_t sysfs_t:dir read;
allow pangp_user_ui_t udev_var_run_t:file { getattr open read };
allow pangp_user_ui_t var_lib_t:file { getattr map open read };
')
