# SPDX-FileCopyrightText: 2021 Markus Linnala <markus.linnala@cybercom.com>
#
# SPDX-License-Identifier: Apache-2.0

policy_module(local_slack, 1.0.0)

gen_require(`
	# selint requires a body
	type bin_t;
')
