policy_module(local_f34_regression, 1.0.0)

#### Fix: laptop_mode.service lock /run/lock/lmt-req.lock
# contexts used to create the file
# udev_t: boot
# unconfined_service_t: sudo udevadm trigger
require {
	type apmd_lock_t;
	type udev_t;
	type unconfined_service_t;
	type var_lock_t;
}
filetrans_pattern({ udev_t unconfined_service_t }, var_lock_t, apmd_lock_t, file, "lmt-req.lock")
# filetrans_pattern({ udev_t unconfined_service_t }, var_lock_t, apmd_lock_t, file, "lmt-invoc.lock")

## Allow: iw to write the lock too
require {
	type ifconfig_t;
	type apmd_lock_t;
	class file write;
}
allow ifconfig_t apmd_lock_t:file write;

### What?
require {
	type tmpfs_t;
	type tmp_t;
	type xdm_t;
	class sock_file write;
	class file { map read write };
}
allow xdm_t tmp_t:sock_file write;
allow xdm_t tmpfs_t:file { map read write };

### What?
require {
	class unix_stream_socket connectto;
	type unconfined_service_t;
	type xdm_t;
}
allow xdm_t unconfined_service_t:unix_stream_socket connectto;

#### Allow: journalctl to probe some
require {
	class lnk_file { getattr read };
	class sock_file { getattr open read };
	type devlog_t;
	type journalctl_t;
}
allow journalctl_t devlog_t:lnk_file { getattr read };
allow journalctl_t devlog_t:sock_file { getattr open read };

#### Deny: journalctl to probe devices
require {
	attribute device_node;
	class blk_file getattr;
	class chr_file getattr;
	class fifo_file getattr;
	class file getattr;
	type initctl_t;
	type journalctl_t;
	type proc_kcore_t;
}
dontaudit journalctl_t device_node:blk_file getattr;
dontaudit journalctl_t device_node:chr_file getattr;
dontaudit journalctl_t initctl_t:fifo_file getattr;
dontaudit journalctl_t proc_kcore_t:file getattr;

optional_policy(`
#### allow: faplolicyd to watch
# mostly mock files
require {
	class dir { watch_mount watch_with_perm };
	class file { watch_mount watch_with_perm };
	type fapolicyd_t;
	type user_home_t;
	type user_tmp_t;
}
# audit(1622112295.772:1760):
#  scontext="system_u:system_r:fapolicyd_t:s0" tcontext="unconfined_u:object_r:user_tmp_t:s0"
#  class="file" perms="{ watch_mount watch_with_perm }"
#  comm="fapolicyd" exe="" path=""
#  message="type=AVC msg=audit(1622112295.772:1760): avc:  denied  { watch_mount
#   watch_with_perm } for  pid=20253 comm="fapolicyd"
#   path="/var/lib/mock/fedora-34-x86_64-bootstrap/root/proc/filesystems"
#   dev="tmpfs" ino=825 scontext=system_u:system_r:fapolicyd_t:s0
#   tcontext=unconfined_u:object_r:user_tmp_t:s0 tclass=file permissive=0"
allow fapolicyd_t user_tmp_t:file { watch_mount watch_with_perm };

# audit(1622113139.201:1901):
#  scontext="system_u:system_r:fapolicyd_t:s0" tcontext="unconfined_u:object_r:user_home_t:s0"
#  class="dir" perms="{ watch_mount watch_with_perm }"
#  comm="fapolicyd" exe="" path=""
#  message="type=AVC msg=audit(1622113139.201:1901): avc:  denied  { watch_mount
#   watch_with_perm } for  pid=20253 comm="fapolicyd" path="/var/lib/mock/fedora-
#   34-x86_64-bootstrap/root/home/admin/git/rpm/laptop-mode-
#   tools/results/default" dev="dm-2" ino=1311375
#   scontext=system_u:system_r:fapolicyd_t:s0
#   tcontext=unconfined_u:object_r:user_home_t:s0 tclass=dir permissive=0"
allow fapolicyd_t user_home_t:dir { watch_mount watch_with_perm };
')

#### Allow to access: /dev/dma_heap
optional_policy(`
require {
	type init_t;
	type dma_device_t;
	type journalctl_t;
	type udev_t;
}
dontaudit journalctl_t dma_device_t:dir list_dir_perms;
allow init_t dma_device_t:dir list_dir_perms;
allow udev_t dma_device_t:dir list_dir_perms;

require {
	class dir { read search };
	type dma_device_t;
	type mdadm_t;
}
#============= mdadm_t ==============
# audit(1622722822.397:176):
#  scontext="system_u:system_r:mdadm_t:s0" tcontext="system_u:object_r:dma_device_t:s0"
#  class="dir" perms="search"
#  comm="mdadm" exe="" path=""
#  message="type=AVC msg=audit(1622722822.397:176): avc:  denied  { search } for
#   pid=1018 comm="mdadm" name="dma_heap" dev="devtmpfs" ino=132
#   scontext=system_u:system_r:mdadm_t:s0
#   tcontext=system_u:object_r:dma_device_t:s0 tclass=dir permissive=0"
# audit(1622722822.399:177):
#  scontext="system_u:system_r:mdadm_t:s0" tcontext="system_u:object_r:dma_device_t:s0"
#  class="dir" perms="read"
#  comm="mdadm" exe="" path=""
#  message="type=AVC msg=audit(1622722822.399:177): avc:  denied  { read } for
#   pid=1018 comm="mdadm" name="dma_heap" dev="devtmpfs" ino=132
#   scontext=system_u:system_r:mdadm_t:s0
#   tcontext=system_u:object_r:dma_device_t:s0 tclass=dir permissive=0"
allow mdadm_t dma_device_t:dir { read search };

require {
	class dir open;
	type dma_device_t;
	type mdadm_t;
}
#============= mdadm_t ==============
# audit(1622726629.867:158):
#  scontext="system_u:system_r:mdadm_t:s0" tcontext="system_u:object_r:dma_device_t:s0"
#  class="dir" perms="open"
#  comm="mdadm" exe="" path=""
#  message="type=AVC msg=audit(1622726629.867:158): avc:  denied  { open } for
#   pid=987 comm="mdadm" path="/dev/dma_heap" dev="devtmpfs" ino=132
#   scontext=system_u:system_r:mdadm_t:s0
#   tcontext=system_u:object_r:dma_device_t:s0 tclass=dir permissive=0"
allow mdadm_t dma_device_t:dir open;

require {
	class dir { getattr open read search };
	type dma_device_dir_t;
	type mdadm_t;
}
#============= mdadm_t ==============
# audit(1623654360.269:170):
#  scontext="system_u:system_r:mdadm_t:s0" tcontext="system_u:object_r:dma_device_dir_t:s0"
#  class="dir" perms="search"
#  comm="mdadm" exe="" path=""
#  message="type=AVC msg=audit(1623654360.269:170): avc:  denied  { search } for
#   pid=990 comm="mdadm" name="dma_heap" dev="devtmpfs" ino=132
#   scontext=system_u:system_r:mdadm_t:s0
#   tcontext=system_u:object_r:dma_device_dir_t:s0 tclass=dir permissive=0"
# audit(1623654360.271:171):
#  scontext="system_u:system_r:mdadm_t:s0" tcontext="system_u:object_r:dma_device_dir_t:s0"
#  class="dir" perms="getattr"
#  comm="mdadm" exe="" path=""
#  message="type=AVC msg=audit(1623654360.271:171): avc:  denied  { getattr } for
#   pid=990 comm="mdadm" path="/dev/dma_heap" dev="devtmpfs" ino=132
#   scontext=system_u:system_r:mdadm_t:s0
#   tcontext=system_u:object_r:dma_device_dir_t:s0 tclass=dir permissive=0"
allow mdadm_t dma_device_dir_t:dir { getattr open read search };

require {
	type setroubleshootd_t;
	type dma_device_t;
	class dir getattr;
}
#============= setroubleshootd_t ==============
# audit(1622726632.928:739):
#  scontext="system_u:system_r:setroubleshootd_t:s0" tcontext="system_u:object_r:dma_device_t:s0"
#  class="dir" perms="getattr"
#  comm="setroubleshootd" exe="" path=""
#  message="type=AVC msg=audit(1622726632.928:739): avc:  denied  { getattr } for
#   pid=1083 comm="setroubleshootd" path="/dev/dma_heap" dev="devtmpfs" ino=132
#   scontext=system_u:system_r:setroubleshootd_t:s0
#   tcontext=system_u:object_r:dma_device_t:s0 tclass=dir permissive=0"
allow setroubleshootd_t dma_device_t:dir getattr;
')

require {
	type abrt_t;
	type xdm_var_lib_t;
	class file { open read };
}
#============= abrt_t ==============
# audit(1623656221.222:356):
#  scontext="system_u:system_r:abrt_t:s0-s0:c0.c1023" tcontext="system_u:object_r:xdm_var_lib_t:s0"
#  class="file" perms="read"
#  comm="gdb" exe="" path=""
#  message="type=AVC msg=audit(1623656221.222:356): avc:  denied  { read } for
#   pid=7366 comm="gdb" name="index" dev="dm-1" ino=14580458
#   scontext=system_u:system_r:abrt_t:s0-s0:c0.c1023
#   tcontext=system_u:object_r:xdm_var_lib_t:s0 tclass=file permissive=0"
# audit(1623656221.241:357):
#  scontext="system_u:system_r:abrt_t:s0-s0:c0.c1023" tcontext="system_u:object_r:xdm_var_lib_t:s0"
#  class="file" perms="read"
#  comm="gdb" exe="" path=""
#  message="type=AVC msg=audit(1623656221.241:357): avc:  denied  { read } for
#   pid=7366 comm="gdb" name="user" dev="dm-1" ino=17040737
#   scontext=system_u:system_r:abrt_t:s0-s0:c0.c1023
#   tcontext=system_u:object_r:xdm_var_lib_t:s0 tclass=file permissive=0"
allow abrt_t xdm_var_lib_t:file read;
# audit(1623656510.130:593):
#  scontext="system_u:system_r:abrt_t:s0-s0:c0.c1023" tcontext="system_u:object_r:xdm_var_lib_t:s0"
#  class="file" perms="open"
#  comm="gdb" exe="" path=""
#  message="type=AVC msg=audit(1623656510.130:593): avc:  denied  { open } for
#   pid=9437 comm="gdb" path="/var/lib/gdm/.cache/mesa_shader_cache/index"
#   dev="dm-1" ino=14580458 scontext=system_u:system_r:abrt_t:s0-s0:c0.c1023
#   tcontext=system_u:object_r:xdm_var_lib_t:s0 tclass=file permissive=0"
# audit(1623656510.139:594):
#  scontext="system_u:system_r:abrt_t:s0-s0:c0.c1023" tcontext="system_u:object_r:xdm_var_lib_t:s0"
#  class="file" perms="open"
#  comm="gdb" exe="" path=""
#  message="type=AVC msg=audit(1623656510.139:594): avc:  denied  { open } for
#   pid=9437 comm="gdb" path="/var/lib/gdm/.config/dconf/user" dev="dm-1"
#   ino=17040737 scontext=system_u:system_r:abrt_t:s0-s0:c0.c1023
#   tcontext=system_u:object_r:xdm_var_lib_t:s0 tclass=file permissive=0"
allow abrt_t xdm_var_lib_t:file open;

require {
	type init_var_lib_t;
	type journalctl_t;
	class file map;
}

#============= journalctl_t ==============
#  scontext="user_u:user_r:journalctl_t:s0-s0:c0.c1023" tcontext="unconfined_u:object_r:init_var_lib_t:s0"
#  class="file" perms="map"
#  comm="journalctl" exe="" path=""
#  message="kesä 22 15:32:52 user-hp-eb-lan audit[24885]: AVC avc:  denied  {
#   map } for  pid=24885 comm="journalctl"
#   path="/var/lib/systemd/catalog/database" dev="dm-0" ino=23925288
#   scontext=user_u:user_r:journalctl_t:s0-s0:c0.c1023
#   tcontext=unconfined_u:object_r:init_var_lib_t:s0 tclass=file permissive=0 "
allow journalctl_t init_var_lib_t:file map;

require {
	type sssd_t;
	type init_var_run_t;
	class dir watch;
}
#============= sssd_t ==============
# audit(1624350882.464:181):
#  scontext="system_u:system_r:sssd_t:s0" tcontext="system_u:object_r:init_var_run_t:s0"
#  class="dir" perms="watch"
#  comm="sssd" exe="" path=""
#  message="type=AVC msg=audit(1624350882.464:181): avc:  denied  { watch } for
#   pid=1020 comm="sssd" path="/run/systemd" dev="tmpfs" ino=2
#   scontext=system_u:system_r:sssd_t:s0
#   tcontext=system_u:object_r:init_var_run_t:s0 tclass=dir permissive=0"
allow sssd_t init_var_run_t:dir watch;
