policy_module(local_user_u, 1.0.0)

## <desc>
## <p>
## Enable debug helpers
## </p>
## </desc>
gen_tunable(local_user_u_debug, false)

## <desc>
## <p>
## Allow to use journalctl
## </p>
## </desc>
gen_tunable(local_user_u_journalctl, true)

# TODO: optional_policy stuff missing?
require {
	# Should always use login_userdomain for all stuff allowed to all
	attribute login_userdomain;
	# type sysadm_t;
	# type staff_t;
	# type user_t;
	# role user_r;
	role system_r;
}

### login
### start: Terminal (gui app)
# seems dbus_role stuff is totally missing, this breaks all kinds of stuff
# from: policy/modules/roles/unconfineduser.te
# dbus_role_template needs these fixes
# /usr/bin/dbus-broker-launch --scope user
require {
	attribute systemd_unit_file_type;
	class service start;
	class system reload;
	type user_dbusd_t;
	type user_tmp_t;
}
allow user_dbusd_t login_userdomain:system reload;
allow user_dbusd_t systemd_unit_file_type:service start;
allow user_dbusd_t user_tmp_t:service start;

### Allow: loginctl session-status <id>
require {
	type init_var_run_t;
	class service status;
}
allow login_userdomain init_var_run_t:service status;

### Allow: login/logout w/ my systemd_logind_var_run_t/systemd_unit_file_t fc
# systemctl --user daemon-reexec: does not still work, it does not start systemd user instance
require {
	type gpg_agent_t;
	type gpg_agent_tmp_t;
	type gpg_secret_t;
	type gpg_t;
	type init_t;
	type pulseaudio_t;
	type pulseaudio_var_lib_t;
	type system_dbusd_var_run_t;
	type systemd_logind_t;
	type systemd_logind_var_run_t;
	type systemd_unit_file_t;
	type unconfined_service_t; # /usr/libexec/uresourced
	type xdm_t;
}

## /run/user/<uid>/bus
manage_sock_files_pattern({ login_userdomain systemd_logind_t }, user_tmp_t, system_dbusd_var_run_t)

## /run/user/<uid>/gnupg
userdom_user_tmp_filetrans({ gpg_t login_userdomain systemd_logind_t }, gpg_secret_t, dir, "gnupg")
manage_dirs_pattern({ gpg_t login_userdomain systemd_logind_t xdm_t }, user_tmp_t, gpg_secret_t)
filetrans_pattern(gpg_agent_t, gpg_secret_t, gpg_agent_tmp_t, sock_file)
manage_sock_files_pattern({ login_userdomain systemd_logind_t }, gpg_secret_t, gpg_agent_tmp_t)

## /run/user/<uid>/pipewire-0.lock
userdom_user_tmp_filetrans({ login_userdomain systemd_logind_t }, pulseaudio_var_lib_t, file, "pipewire-0.lock")

## /run/user/<uid>/pulse
manage_dirs_pattern({ login_userdomain systemd_logind_t xdm_t }, user_tmp_t, pulseaudio_var_lib_t)
userdom_user_tmp_filetrans({ login_userdomain systemd_logind_t }, pulseaudio_var_lib_t, dir, "pulse")
# /run/user/<uid>/pulse/native: all these can create/remove it
manage_sock_files_pattern({ login_userdomain pulseaudio_t systemd_logind_t }, pulseaudio_var_lib_t, pulseaudio_var_lib_t)

# /run/user/<uid>/systemd/units
userdom_user_tmp_filetrans({ login_userdomain systemd_logind_t }, systemd_logind_var_run_t, dir, "systemd")

## /run/user/<uid>/systemd/inaccessible: both of these can create/remove these files
# /run/user/<uid>/systemd/inaccessible/chr
manage_chr_files_pattern({ login_userdomain systemd_logind_t }, systemd_logind_var_run_t, systemd_logind_var_run_t)
# /run/user/<uid>/systemd/inaccessible/dir already
# manage_dirs_pattern({ login_userdomain systemd_logind_t }, systemd_logind_var_run_t, systemd_logind_var_run_t)
# /run/user/<uid>/systemd/inaccessible/fifo already
# manage_fifo_files_pattern({ login_userdomain systemd_logind_t }, systemd_logind_var_run_t, systemd_logind_var_run_t)
# /run/user/<uid>/systemd/inaccessible/reg already
# manage_files_pattern({ login_userdomain systemd_logind_t }, systemd_logind_var_run_t, systemd_logind_var_run_t)
# /run/user/<uid>/systemd/inaccessible/sock
manage_sock_files_pattern({ login_userdomain systemd_logind_t }, systemd_logind_var_run_t, systemd_logind_var_run_t)

# /run/user/<uid>/systemd/units
manage_dirs_pattern(systemd_logind_t, user_tmp_t, systemd_unit_file_t)
manage_files_pattern(systemd_logind_t, systemd_unit_file_t, systemd_unit_file_t)
manage_lnk_files_pattern(systemd_logind_t, systemd_unit_file_t, systemd_unit_file_t)

# /run/systemd/user
filetrans_pattern({ init_t systemd_logind_t unconfined_service_t }, init_var_run_t, systemd_unit_file_t, dir, "user")


### Allow some: ps: /proc/<pid>
require {
	class dir getattr;
	type fprintd_t;
	type fwupd_cache_t;
	type kernel_t;
	type realmd_t;
	type systemd_hostnamed_t;
	type udev_t;
	type xdm_t;
}
dontaudit login_userdomain { fprintd_t udev_t xdm_t }:dir getattr;
allow login_userdomain fprintd_t:dir getattr;
allow login_userdomain fwupd_cache_t:dir { getattr open };
allow login_userdomain kernel_t:dir getattr;
allow login_userdomain realmd_t:dir getattr;
allow login_userdomain systemd_hostnamed_t:dir getattr;
allow login_userdomain udev_t:dir search;
allow login_userdomain xdm_t:dir search;

### start: Files (gui app)
# write transient directories/files and such
systemd_manage_unit_dirs(login_userdomain)
systemd_manage_all_unit_files(login_userdomain)

### start wireshark
# maybe not allow?
allow login_userdomain self:netlink_generic_socket create;

### start /usr/bin/sepolicy gui
# maybe not allow?
#allow login_userdomain semanage_t:dbus send_msg;
#seutil_dbus_chat_semanage(login_userdomain)

### run seinfo
# maybe not allow
#allow login_userdomain security_t:security read_policy;

### gnome-shell gsd-color
# why not? missing in roles/unprivuser.te
systemd_hwdb_mmap_config(login_userdomain)

### Allow gvfsd-fuse /home/user/.cache/gvfs
require {
	type cache_home_t;
	class dir mounton;
}
allow login_userdomain cache_home_t:dir mounton;

### FIX: logout via gnome
# allow user_t mount_t:process { sigkill signal };
# bug: staff_t has this: selinux-policy a90f520338893e913011073937221c0ce3391347 BZ(1544272)
# reported as https://github.com/fedora-selinux/selinux-policy/issues/520
mount_sigkill(login_userdomain)

### LOCAL: Allow: to run ssh-agent with socket in /run/user/<uid>/ssh-agent.socket
# Moved file from original position
# Respective line at fc
require {
	attribute ssh_agent_type;
	type ssh_agent_tmp_t;
}
userdom_user_tmp_filetrans(ssh_agent_type, ssh_agent_tmp_t, sock_file, "ssh-agent.socket")

### grub2-set-bootflag
require {
	type boot_t;
}
allow login_userdomain boot_t:dir rw_dir_perms;
allow login_userdomain boot_t:file manage_file_perms;

### /usr/libexec/flatpak-system-helper via dbus
optional_policy(`
	require {
		type flatpak_helper_t;
		class dbus send_msg;
	}
	allow login_userdomain flatpak_helper_t:dbus send_msg;
')

### flatpack files: /var/lib/flatpak
# bwrap
require {
	class cap_userns setpcap;
	class file { getattr map open read };
	class lnk_file { getattr read };
	type nsfs_t;
	type user_dbusd_t;
	type var_lib_t;
}
allow login_userdomain nsfs_t:file getattr;
allow login_userdomain self:cap_userns setpcap;
allow login_userdomain var_lib_t:file map;
allow login_userdomain var_lib_t:lnk_file { getattr read };
allow user_dbusd_t var_lib_t:file { open read };
allow user_dbusd_t var_lib_t:lnk_file read;

### journalctl needs to access: /var/lib/systemd/catalog/database
tunable_policy(`local_user_u_journalctl',`
	init_read_var_lib_files(login_userdomain)
	init_read_var_lib_files(journalctl_t)
	init_search_var_lib_dirs(journalctl_t)
	require {
		class dir { read search };
		class file map;
		type init_var_lib_t;
		type journalctl_t;
	}
	allow journalctl_t init_var_lib_t:file map;
	allow login_userdomain init_var_lib_t:dir { read search };

	### Use journalctl
	require {
		type tmp_t;
		type journalctl_t;
		class dir write;
	}
	allow journalctl_t tmp_t:dir write;
')

### chrome uses this
# $ setsebool -P selinuxuser_udp_server 1

### gnome-software /var/cache/app-info
require {
	class dir { read search };
	type fwupd_cache_t;
}
allow login_userdomain fwupd_cache_t:dir { read search };

### /usr/lib/polkit-1/polkit-agent-helper-1
require {
	class unix_stream_socket { read write };
	type policykit_auth_t;
}
allow policykit_auth_t login_userdomain:unix_stream_socket { read write };

### pulseaudio
require {
	class unix_stream_socket { read write };
	type pulseaudio_t;
}
allow pulseaudio_t login_userdomain:unix_stream_socket { read write };

### /usr/lib/systemd/systemd-user-runtime-dir
require {
	class capability net_admin;
	type systemd_logind_t;
}
allow systemd_logind_t self:capability net_admin;

### Allow: systemd to kill processes
require {
	class process signal;
	type mount_t;
}
allow login_userdomain mount_t:process signal;

### Allow: nice gnome-shell
require {
	class capability sys_nice;
}
allow login_userdomain self:capability sys_nice;

### Allow: gnome-terminal something
require {
	class process getpgid;
	type kernel_t;
}
allow login_userdomain kernel_t:process getpgid;

### Deny: ls /run/systemd/inaccessible/
require {
	class blk_file getattr;
	class chr_file getattr;
	type init_var_run_t;
}
dontaudit login_userdomain init_var_run_t:blk_file getattr;
dontaudit login_userdomain init_var_run_t:chr_file getattr;

### dri_device_t, seems harmless?
### journalctl
### login etc
# prob should not be allowed
require {
	class chr_file { getattr read write };
	type dri_device_t;
	type journalctl_t;
	type utempter_t;
}
# some programs access: /dev/dri/card0
dontaudit journalctl_t dri_device_t:chr_file { read write };
dontaudit user_dbusd_t dri_device_t:chr_file { read write };
dontaudit utempter_t dri_device_t:chr_file { read write };

### login_userdomain:file read /proc/<pid>/mountinfo harmless?
### journalctl
### login etc
# dunno if this should be allowed
require {
	class file read;
	type journalctl_t;
	type ssh_t;
	type utempter_t;
}
dontaudit { journalctl_t ssh_t utempter_t } login_userdomain:file read;

### Deny: Xorg
require {
	class capability sys_admin;
}
dontaudit login_userdomain self:capability sys_admin;

### Deny: sudo
require {
	class capability sys_resource;
}
dontaudit login_userdomain self:capability sys_resource;

### Deny: write sudo ts file
require {
	type pam_var_run_t;
	class dir write;
}
dontaudit login_userdomain pam_var_run_t:dir write;

### Deny: run audit2allow
require {
	class security read_policy;
	type security_t;
}
dontaudit login_userdomain security_t:security read_policy;

### Debug
tunable_policy(`local_user_u_debug',`
require {
	class cap_userns sys_ptrace;
	class process ptrace;
	type journalctl_t;
	type syslogd_t;
}
allow syslogd_t self:cap_userns sys_ptrace;
allow login_userdomain journalctl_t:process ptrace;
allow login_userdomain self:cap_userns sys_ptrace;
')

### watch
require {
	class dir watch;
	type bin_t;
	type fonts_t;
	type fwupd_cache_t;
	type home_root_t;
	type lib_t;
	type locale_t;
	type root_t;
	type system_conf_t;
	type systemd_logind_var_run_t;
	type user_dbusd_t;
	type var_lib_t;
	type var_run_t;
}
allow user_dbusd_t var_lib_t:dir watch;
allow login_userdomain bin_t:dir watch;
allow login_userdomain fonts_t:dir watch;
allow login_userdomain fwupd_cache_t:dir watch;
allow login_userdomain home_root_t:dir watch;
allow login_userdomain lib_t:dir watch;
allow login_userdomain locale_t:dir watch;
allow login_userdomain root_t:dir watch;
allow login_userdomain system_conf_t:dir watch;
allow login_userdomain systemd_logind_var_run_t:dir watch;
allow login_userdomain var_run_t:dir watch;

### What?
require {
	class file { create read };
	class sock_file write;
	type init_var_run_t;
	type pulseaudio_var_lib_t;
	type session_dbusd_tmp_t;
}
allow login_userdomain init_var_run_t:file read;
allow login_userdomain pulseaudio_var_lib_t:file create;
allow login_userdomain session_dbusd_tmp_t:sock_file write;

### Allow: use journalctl
require {
	class dir { add_name write };
	class file { create open read rename setattr unlink write };
	type journalctl_t;
	type user_home_dir_t;
	type user_home_t;
}
allow journalctl_t user_home_dir_t:dir { add_name write };
# without this .lesshst etc has domain user_home_dir_t and that is just wrong
filetrans_pattern(journalctl_t, user_home_dir_t, user_home_t, file)
allow journalctl_t user_home_t:file { create open read rename setattr unlink write };


### login
require {
	class file { open write };
	type init_var_run_t;
}
allow login_userdomain init_var_run_t:file open;

### login: create /run/user/<uid>/pipewire*
require {
	class file { getattr lock open write };
	type pulseaudio_var_lib_t;
}
allow login_userdomain pulseaudio_var_lib_t:file { getattr lock open write };

#### logout: remove /run/user/<uid>/pipewire*
require {
	class file { read unlink };
	type pulseaudio_var_lib_t;
}
allow login_userdomain pulseaudio_var_lib_t:file { read unlink };

### start stuff
require {
	class service { reload start status stop };
	class system status;
	type etc_t;
	type user_dbusd_t;
	type usr_t;
}
allow user_dbusd_t login_userdomain:system status;
allow login_userdomain { etc_t usr_t }:service { reload start status stop };

### gpg?
require {
	class process signull;
	type gpg_agent_t;
}
allow login_userdomain gpg_agent_t:process signull;

require {
	type user_dbusd_t;
	type systemd_logind_var_run_t;
	class sock_file write;
}

#============= user_dbusd_t ==============
# audit(1622617702.866:37726):
#  scontext="user_u:user_r:user_dbusd_t:s0-s0:c0.c255" tcontext="user_u:object_r:systemd_logind_var_run_t:s0"
#  class="sock_file" perms="write"
#  comm="dbus-broker-lau" exe="" path=""
#  message="type=AVC msg=audit(1622617702.866:37726): avc:  denied  { write } for
#   pid=5826 comm="dbus-broker-lau" name="notify" dev="tmpfs" ino=37
#   scontext=user_u:user_r:user_dbusd_t:s0-s0:c0.c255
#   tcontext=user_u:object_r:systemd_logind_var_run_t:s0 tclass=sock_file
#   permissive=0"
# audit(1622618056.369:322):
#  scontext="user_u:user_r:user_dbusd_t:s0-s0:c0.c255" tcontext="user_u:object_r:systemd_logind_var_run_t:s0"
#  class="sock_file" perms="write"
#  comm="dbus-broker-lau" exe="" path=""
#  message="type=AVC msg=audit(1622618056.369:322): avc:  denied  { write } for
#   pid=7316 comm="dbus-broker-lau" name="notify" dev="tmpfs" ino=37
#   scontext=user_u:user_r:user_dbusd_t:s0-s0:c0.c255
#   tcontext=user_u:object_r:systemd_logind_var_run_t:s0 tclass=sock_file
#   permissive=0"
# audit(1622618056.389:323):
#  scontext="user_u:user_r:user_dbusd_t:s0-s0:c0.c255" tcontext="user_u:object_r:systemd_logind_var_run_t:s0"
#  class="sock_file" perms="write"
#  comm="dbus-broker-lau" exe="" path=""
#  message="type=AVC msg=audit(1622618056.389:323): avc:  denied  { write } for
#   pid=7318 comm="dbus-broker-lau" name="notify" dev="tmpfs" ino=37
#   scontext=user_u:user_r:user_dbusd_t:s0-s0:c0.c255
#   tcontext=user_u:object_r:systemd_logind_var_run_t:s0 tclass=sock_file
#   permissive=0"
# audit(1622618056.402:324):
#  scontext="user_u:user_r:user_dbusd_t:s0-s0:c0.c255" tcontext="user_u:object_r:systemd_logind_var_run_t:s0"
#  class="sock_file" perms="write"
#  comm="dbus-broker-lau" exe="" path=""
#  message="type=AVC msg=audit(1622618056.402:324): avc:  denied  { write } for
#   pid=7319 comm="dbus-broker-lau" name="notify" dev="tmpfs" ino=37
#   scontext=user_u:user_r:user_dbusd_t:s0-s0:c0.c255
#   tcontext=user_u:object_r:systemd_logind_var_run_t:s0 tclass=sock_file
#   permissive=0"
# audit(1622618056.415:325):
#  scontext="user_u:user_r:user_dbusd_t:s0-s0:c0.c255" tcontext="user_u:object_r:systemd_logind_var_run_t:s0"
#  class="sock_file" perms="write"
#  comm="dbus-broker-lau" exe="" path=""
#  message="type=AVC msg=audit(1622618056.415:325): avc:  denied  { write } for
#   pid=7320 comm="dbus-broker-lau" name="notify" dev="tmpfs" ino=37
#   scontext=user_u:user_r:user_dbusd_t:s0-s0:c0.c255
#   tcontext=user_u:object_r:systemd_logind_var_run_t:s0 tclass=sock_file
#   permissive=0"
# audit(1622618056.425:326):
#  scontext="user_u:user_r:user_dbusd_t:s0-s0:c0.c255" tcontext="user_u:object_r:systemd_logind_var_run_t:s0"
#  class="sock_file" perms="write"
#  comm="dbus-broker-lau" exe="" path=""
#  message="type=AVC msg=audit(1622618056.425:326): avc:  denied  { write } for
#   pid=7321 comm="dbus-broker-lau" name="notify" dev="tmpfs" ino=37
#   scontext=user_u:user_r:user_dbusd_t:s0-s0:c0.c255
#   tcontext=user_u:object_r:systemd_logind_var_run_t:s0 tclass=sock_file
#   permissive=0"
allow user_dbusd_t systemd_logind_var_run_t:sock_file write;

#### /run/user/<uid>/pulse/native
require {
	type xdm_t;
	type pulseaudio_var_lib_t;
	class sock_file write;
}
# audit(1618397152.013:540):
#  scontext="system_u:system_r:xdm_t:s0-s0:c0.c1023" tcontext="unconfined_u:object_r:pulseaudio_var_lib_t:s0"
#  class="sock_file" perms="write"
#  comm="gnome-shell" exe="" path=""
#  message="type=AVC msg=audit(1618397152.013:540): avc:  denied  { write } for
#   pid=5179 comm="gnome-shell" name="native" dev="tmpfs" ino=48
#   scontext=system_u:system_r:xdm_t:s0-s0:c0.c1023
#   tcontext=unconfined_u:object_r:pulseaudio_var_lib_t:s0 tclass=sock_file
#   permissive=0"
## maybe not need actual manage, but it is pointless
manage_sock_files_pattern(xdm_t, pulseaudio_var_lib_t, pulseaudio_var_lib_t)

### Allow: during logout logind removes /run/user/<uid>/ files
require {
	class file unlink;
	type pulseaudio_var_lib_t;
	type systemd_logind_t;
}
allow systemd_logind_t pulseaudio_var_lib_t:file unlink;

require {
	type systemd_logind_var_run_t;
	type user_t;
	class dir create;
}

#============= user_t ==============
# audit(1623656228.130:376):
#  scontext="user_u:user_r:user_t:s0-s0:c0.c255" tcontext="user_u:object_r:systemd_logind_var_run_t:s0"
#  class="dir" perms="create"
#  comm="systemd" exe="" path=""
#  message="type=AVC msg=audit(1623656228.130:376): avc:  denied  { create } for
#   pid=7686 comm="systemd" name="systemd"
#   scontext=user_u:user_r:user_t:s0-s0:c0.c255
#   tcontext=user_u:object_r:systemd_logind_var_run_t:s0 tclass=dir
#   permissive=0"
# audit(1623656228.137:379):
#  scontext="user_u:user_r:user_t:s0-s0:c0.c255" tcontext="user_u:object_r:systemd_logind_var_run_t:s0"
#  class="dir" perms="create"
#  comm="systemd" exe="" path=""
#  message="type=AVC msg=audit(1623656228.137:379): avc:  denied  { create } for
#   pid=7686 comm="systemd" name="systemd"
#   scontext=user_u:user_r:user_t:s0-s0:c0.c255
#   tcontext=user_u:object_r:systemd_logind_var_run_t:s0 tclass=dir
#   permissive=0"
allow user_t systemd_logind_var_run_t:dir create;
