policy_module(local_firefox, 1.0.0)

require {
	type mozilla_exec_t;
	type mozilla_plugin_exec_t;
	type mozilla_t;
	type textrel_shlib_t;
}

require {
        role staff_r;
        role user_r;
        type staff_t;
        type user_t;
}

domain_auto_trans(user_t, mozilla_exec_t, mozilla_t)
