# SPDX-FileCopyrightText: 2021 Markus Linnala <markus.linnala@cybercom.com>
#
# SPDX-License-Identifier: Apache-2.0

policy_module(local_user_bwrap, 1.0.0)
optional_policy(`

require {
	attribute login_userdomain;
}

#### Allow to build bwrapped env
require {
	type bpf_t;
	type cgroup_t;
	type config_home_t;
	type configfs_t;
	type data_home_t;
	type debugfs_t;
	type device_t;
	type devpts_t;
	type etc_t;
	type fs_t;
	type fusefs_t;
	type proc_t;
	type pstore_t;
	type pulseaudio_var_lib_t;
	type root_t;
	type security_t;
	type sysfs_t;
	type tmp_t;
	type tmpfs_t;
	type tracefs_t;
	type user_tmp_t;
	type usr_t;
}

allow login_userdomain config_home_t:dir mounton;
allow login_userdomain data_home_t:dir mounton;
allow login_userdomain pulseaudio_var_lib_t:dir mounton;
allow login_userdomain root_t:dir mounton;
allow login_userdomain tmp_t:dir mounton;
allow login_userdomain usr_t:dir mounton;

allow login_userdomain config_home_t:file mounton;
allow login_userdomain data_home_t:file mounton;
allow login_userdomain etc_t:file mounton;
allow login_userdomain pulseaudio_var_lib_t:file mounton;
allow login_userdomain user_tmp_t:file mounton;

allow login_userdomain bpf_t:filesystem remount;
allow login_userdomain cgroup_t:filesystem remount;
allow login_userdomain configfs_t:filesystem remount;
allow login_userdomain debugfs_t:filesystem remount;
allow login_userdomain device_t:filesystem remount;
allow login_userdomain devpts_t:filesystem mount;
fs_all_mount_fs_perms_xattr_fs(login_userdomain)
allow login_userdomain fusefs_t:filesystem remount;
allow login_userdomain proc_t:filesystem mount;
allow login_userdomain pstore_t:filesystem remount;
allow login_userdomain security_t:filesystem remount;
allow login_userdomain sysfs_t:filesystem remount;
fs_all_mount_fs_perms_tmpfs(login_userdomain)
allow login_userdomain tracefs_t:filesystem remount;

#### because: --unshare-user-try
dontaudit login_userdomain self:cap_userns dac_override;


#### xterm ???
require {
	type utempter_t;
}
# audit(1615465057.346:7867):
#  scontext="user_u:user_r:user_t:s0" tcontext="user_u:user_r:utempter_t:s0"
#  class="process2" perms="{ nnp_transition nosuid_transition }"
#  comm="xterm" exe="" path=""
#  message="type=AVC msg=audit(1615465057.346:7867): avc:  denied  {
#   nnp_transition nosuid_transition } for  pid=839282 comm="xterm"
#   scontext=user_u:user_r:user_t:s0 tcontext=user_u:user_r:utempter_t:s0
#   tclass=process2 permissive=0"
allow login_userdomain utempter_t:process2 { nnp_transition nosuid_transition };

#### allow bwrap to change exec context
allow login_userdomain self:process2 { nnp_transition nosuid_transition };

')
